body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #0A2640;
}
header{
    position: relative;
}
#mobile-navbar{
    display: none;
}
.nav-bar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    max-width: 1500px;
    left: 50%;
    transform: translate(-50%);
    overflow:visible;
    z-index: 1;
}
.nav-bar ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color:#0A2640;
    padding-left: 0;
}
.list-item{
    margin:20px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
}
#log-in{
    background-color: white;
    border: 2px solid #0A2640;
    padding:8px 40px;
    border-radius: 24px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.boldo-logo{
    height:45px;
}
.header-text{
    padding-top:120px;
    width: 85%;
    max-width: 1200px;
    margin:auto;
    text-align: center;
    color: #0A2640;
}
.header-text h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
}
.header-text h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    margin: 0 auto 50px;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #0A2640;
}
.about-category{
    text-align: start;
    margin-left: 100px;
}
.about-category h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}
.about-category span{
    margin-left: 20px;
}
.about-category h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 10px;
}
.user-info-category{
    display: flex;
    justify-content: flex-start;
}
.user-info-category h4{
    margin-block: auto;
    margin-left: 10px;
}
.latest-news{
    width:75%;
    max-width: 1000px;
    margin:auto;
    padding-top: 90px;
}
.latest-news h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 0;
}
.latest-news-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.latest-news-item{
    position: relative;
    width: 300px;
    margin:50px 15px 0;
    align-self: flex-start;
}
.cat{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}
.date{
    margin-left:10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #7777;
}
.category-list-item-data{
    margin-top: 20px;
    height: 144px;
}
.category-list-item-data h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px; 
    line-height: 28px;
    margin-top: 0;
}
.user-info{
    position: absolute;
    bottom:-20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.user-info span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    margin-left:10px;
}
#load-more{
    border: 2px solid #0A2640;
    border-radius: 56px;
    padding: 16px 56px;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #0A2640;
    line-height: 28px;
    margin: 80px auto 60px;
    display: block;
}
footer{
    width: 80%;
    max-width: 1140px;
    margin: 110px auto 0;
}
.send-email{
    text-align: center;
    background-image: url("/assets/homepage/Rectangle\ 1268.png");
    height:391px;
    position: relative;
    overflow: hidden;
}
#elipse-two{
    top:-200px;
    right:0;
    position: absolute;
    z-index: 0;
    height:500px;
    transform: rotate(-15deg);   
}
.send-email h1{
    position: absolute;
    color: white;
    width: 750px;
    margin:0;
    left: 50%;
    transform: translate(-50%);
    padding-top: 70px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}
.e-mail{
    padding-top:250px;
}
.send-email input{
    font-size: 20px;
    line-height: 32px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 240px;
    padding: 10px 56px;
}
.start{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 16px 56px;
    background: #65E4A3;
    border: 2px solid #65E4A3;
    border-radius: 56px;
}
.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
}
.footer h2{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
}
.outro{
    font-size: 16px;
    line-height: 28px;
    width:300px;
}
.outro p{
    margin-top:30px;
    font-family: 'Open Sans';
    font-weight: 400;
}
.landings, .company, .resources{
    display:flex;
    flex-direction: column;
    width:214px;
    font-weight: 700;
    line-height: 32px;
    margin-left: 100px;
}
.landings ul, .company ul, .resources ul{
    list-style-type: none;
    padding-left: 0;
}
.landings li, .company li, .resources li{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
}
#hiring{
    background: #65E4A3;
    border-radius: 120px;
    border: none;
    padding: 1px 14px;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 28px;
    color: #0A2640;
    margin-left:10px;
}
@media screen and (max-width:1200px) and (min-width:800px) {
    .nav-bar{
        max-width: 1000px;
    }
    .list-item{
        margin:15px;
    }
    .header-text{
        max-width: 900px;
    }
    .header-text h1{
        font-size: 48px;
        line-height: 64px;
        margin: 0 auto 50px;
    }
    #cat-img{
        width:50%;
        max-width:400px;
    }
    .about-category{
        margin-left: 50px;
    }
    .about-category h4{
        font-size: 16px;
        line-height: 24px;
    }
    .about-category span{
        margin-left: 15px;
    }
    .about-category h1{
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 20px;
    }
    .latest-news{
        width:85%;
        max-width: 900px;
        margin:auto;
        padding-top: 0px;
    }
    #log-in{
        padding:7px 30px;
        border-radius: 24px;
        line-height: 22px;
    }
    .boldo-logo{
        height:35px;
    }
    footer{
        width: 100%;
        max-width: 1000px;
        margin: 40px auto 0;
    }
    .send-email{
        height:350px;
    }
    #elipse-two{
        top:-120px;
        height:300px;
        transform: rotate(-15deg);   
    }
    .send-email h1{
        width: 80%;
        max-width: 600px;
        font-size: 38px;
        line-height: 52px;
    }
    .e-mail{
        padding-top:220px;
    }
    .send-email input{
        font-size: 18px;
        line-height: 26px;
        padding: 8px 32px;
    }
    .start{
        font-size: 18px;
        line-height: 28px;
        padding: 8px 36px;
    }
    .footer{
        width:90%;
        margin:100px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer h2{
        font-size: 26px;
    }
    .landings, .company, .resources{
        margin-left: 50px;
    }
    .company{
        margin-left: 0;
    }
    #hiring{
        padding: 1px 10px;
    }
}
@media screen and (max-width:799px) and (min-width:375px){
    #mobile-navbar,#mobile-navbar::before,#mobile-navbar::after{
        background-color: #0A2640;
        width: 30px;
        height:4px;
    }
    #mobile-navbar{
        display: inline-block;
        position: relative;
    }
    #mobile-navbar::before{
        position: absolute;
        content: "";
        top:-8px;
    }
    #mobile-navbar::after{
        position: absolute;
        content: "";
        bottom:-8px;
    }
    .nav-bar{
        margin-top: 40px;
        max-width:600px;
    }
    .nav-bar ul{
        position: absolute;
        display:none;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 500px;
        left: 50%;
        transform: translate(-50%);
        margin:130px auto 0;
    }
    .list-item{
        margin:10px;
        font-size: 15px;
    }
    #log-in{
        padding:4px 18px;
        border-radius: 24px;
        line-height: 18px;
    }
    .boldo-logo{
        height:33px;
    }
    .header-text{
        padding-top:140px;
        width: 90%;
        max-width: 600px;
    }
    .header-text h3{
        font-size: 18px;
        line-height: 28px;
    }
    .header-text h1{
        font-size: 34px;
        line-height: 42px;
        margin: 0 auto 50px;
    }
    .category{
        flex-wrap: wrap;
        max-width: 400px;
        margin: auto;
    }
    #cat-img{
        width:100%;
        max-width:280px;
    }
    .about-category{
        margin-left: 30px;
    }
    .about-category h4{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .about-category span{
        margin-left: 10px;
    }
    .about-category h1{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 15px;
    }
    .user-info-category h4{
        margin-block: auto;
    }
    .latest-news{
        width:85%;
        max-width: 500px;
        padding-top: 30px;
    }
    .latest-news h1{
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 0;
    }
    .latest-news-list{
        justify-content: space-evenly;
    }
    .latest-news-item{
        width: 200px;
        margin:30px 15px 0;
        align-self: flex-start;
    }
    .cat-person{
        width:200px;
    }
    .cat{
        font-size: 14px;
        line-height: 22px;
        margin-block:5px;
    }
    .date{
        margin-left:10px;
        font-size: 12px;
        line-height: 20px;
    }
    .category-list-item-data{
        position: relative;
        margin-top: 10px;
        height: 130px;
    }
    .category-list-item-data h3{
        font-size: 14px; 
        line-height: 18px;
        margin-top: 0;
    }
    .user-info{
        bottom:0px;
    }
    .user-info span{
        margin-left:5px;
        font-size: 12px;
    }
    .user-info img{
        width:25px;
    }
    #load-more{
        border: 1px solid #0A2640;
        padding: 8px 28px;
        font-weight: 700;
        font-size: 18px;
        margin: 40px auto 30px;
    }
    footer{
        width: 80%;
        max-width: 800px;
        margin: 50px auto 0;
    }
    .send-email{
        height:300px;
    }
    #elipse-two{
        top:-70px;
        height:200px;   
    }
    .send-email h1{
        width: 90%;
        padding-top: 50px;
        font-size: 24px;
        line-height: 32px;
    }
    .e-mail{
        padding-top:160px;
    }
    .send-email input{
        font-size: 18px;
        line-height: 20px;
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 240px;
        padding: 6px 32px;
    }
    .start{
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px;
        padding: 8px 32px;
    }
    .footer{
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 700px;
        margin:20px auto 0;
    }
    .footer h2{
        font-size: 20px;
        margin-bottom: 0;
        border-bottom: 1px solid black;
    }
    .landings, .company, .resources{
        width:100px;
        max-width: 400px;
        line-height: 24px;
        margin:0;
    }
    .landings li, .company li, .resources li{
        margin-bottom: 15px;
        font-size: 15px;
    }
    #hiring{
        padding: 1px 5px;
        font-size: 10px;
        font-weight: 700;
        line-height: 18px;
        color: #0A2640;
        margin-left:0px;
    }
    .outro{
        width:100%;
    }
    .outro p{
        max-width: 300px;
    }
}
