body{
    margin:0;
    padding:0;
}
header{
    background-image: url("/assets/homepage/Rectangle\ 1268.png");
    height: 798px;
}
#elipse{
    top:0;
    right:0;
    position: absolute;
    z-index: 0;
}
.nav-bar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    max-width: 1500px;
    left: 50%;
    transform: translate(-50%);
    overflow:visible;
    z-index: 1;
}
.nav-bar ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    padding-left: 0;
}
.list-item{
    margin:20px;
    font-size: 18px;
}
#log-in{
    background-color: white;
    border: none;
    padding:8px 40px;
    border-radius: 24px;
    line-height: 24px;
}
.boldo-logo{
    height:45px;
}
.intro{
    position: absolute;
    padding-top:150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%);
}
.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 0px;
    width: 567px;
    height: 310px;
}
.intro-text h1{
    color:white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 48px;
    line-height: 72px;
}
.intro-text p{
    color:gray;
    font-size: 16px;
    line-height: 28px;
    width: 567px;
    height: 56px;
    margin-top: 0;
    width: 85%;
}
.intro-img{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 15px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#grid-item-2{
    grid-column-start: 1;
    grid-column-end: 3;
}
.logos-list{
    width:70%;
    max-width: 1050px;
    margin:0 auto;  
    padding-top:42em;
    display: flex;
    justify-content: space-around;
}
#buy-template, #explore{
    border-radius: 24px;
    padding:16px 56px;
}
#buy-template{
    border: 0;
    background-color: #69E6A6;
    color: #0A2640;
}
#explore{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 15px;
}
.title{
    text-align: center;
    width: 842px;
    margin: 60px auto 0;
}
.title h1{
    font-size: 42px;
    line-height: 62px;
    margin-top: 0;
}
.title h3{
    font-size: 20px;
}
.featurs-list{
    width:80%;
    max-width: 1140px;
    margin:3em auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feature-one, #feature-two, #feature-three{
    width:300px;
}
.arrow{
    border:2px solid #0A2640;
    width:50px;
    height:40px;
    font-size: 5px;
}
.feature-btn{
    color: #0A2640;
    border: none;
    border-bottom: 1px solid #0A2640;
    background-color: transparent;
}
.buisness-plans{
    width:80%;
    max-width: 1140px;
    margin: 6em auto;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    width:450px;
}
.about h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    margin-top: 0;
}
.about ul{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    list-style-type: none;
    padding-left: 0;
}
.about li{
    display: flex;
    align-items: center;
    margin:1em auto;
}
.about span{
    padding-left:1em;
}
.start-now{
    margin-top:1em;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    border-radius: 56px;
    padding: 16px 56px;
    border: none;
    background-color: #0A2640;
    color:white;
}
.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-shadow-links{
    box-shadow:90px 0px 64px rgba(0,0,0,0.07);
}
.testimonials{
    background-image: url("/assets/homepage/Rectangle\ 1268.png");
    height: 798px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1140px;
    margin:auto;
    padding-top:3.5em;
}
.heading h1{
    width: 716px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 0;
    color: white;
}
.left-right-btns{
    align-self: flex-end;
}
.left-right-btns button{
    background-color: white;
    border: none;
    width:72px;
    height: 72px;
    border-radius: 50%;
    padding: 0;
}
#move-left{
    margin-right: 1em;
}
.reviews{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    max-width: 1140px;
    margin:4.5em auto 0;    
}
.review{
    width:325px;
    background-color: white;
    border-radius: 12px;
}
.review h3{
    width:80%;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin:1em auto 1em;
}
.user{
    display: flex;
    justify-content: start;
    align-items: center;
    width:80%;
    margin:0 auto 2em;
}
.user img{
    height: 58px;
}
.name-designation h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    margin:0 auto 0;
}
.name-designation{
    margin-left:1em;
}
.name-designation p{
    font-size: 14px;
    margin:0.5em auto 0;
}
.faqs{
    width:80%;
    max-width: 1140px;
    margin:7em auto 5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.faqs h2{
    width:500px;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
}
.faqs button{
    border: none;
    background-color: transparent;
}
.button-one, .button-two{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0A2640;
    font-size: 20px;
    line-height: 32px;
}
#faqs-btn{
    margin-top: 1.5em;
    margin-left:5em;
}
.blog{
    width:75%;
    max-width:1140px;
    margin:auto;
    text-align: center;
}
.blog h1{
    width:80%;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin:auto;
}
.blog h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.category-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:3em;
}
.category-list-item{
    width:300px;
    text-align: start;
    
}
.category-list-item span{
    margin-top:20px;
}
#load-more{
    border: 2px solid #0A2640;
    border-radius: 56px;
    padding: 16px 56px;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #0A2640;
    line-height: 28px;
    margin-top:3em;
}
.cat{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #0A2640;
}
.date{
    margin-left:1em;
}
.category-list-item-data{
    margin-top: 1em;
}
.category-list-item-data h3{
    margin-top:0.5em;
    height:96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.user-info img{
    height: 32px;
}
.user-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}
.user-info span{
    margin:auto 0 auto 0.7em;
}
footer{
    width: 80%;
    max-width: 1140px;
    margin: 6em auto 0;
}
.send-email{
    text-align: center;
    background-image: url("/assets/homepage/Rectangle\ 1268.png");
    height:391px;
    position: relative;
    overflow: hidden;
}
#elipse-two{
    top:-200px;
    right:0;
    position: absolute;
    z-index: 0;
    height:500px;
    transform: rotate(-15deg);   
}
.send-email h1{
    position: absolute;
    color: white;
    width: 600px;
    margin:0;
    left: 50%;
    transform: translate(-50%);
    padding-top: 70px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}
.e-mail{
    padding-top:250px;
}
.send-email input{
    font-size: 20px;
    line-height: 32px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 240px;
    padding: 10px 56px;
}
.start{
    font-size: 20px;
    line-height: 28px;
    padding: 16px 56px;
    background: #65E4A3;
    border: 2px solid #65E4A3;
    border-radius: 56px;
}
.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
}
.outro{
    font-size: 16px;
    line-height: 28px;
    width:300px;
}
.outro p{
    margin-top:30px;
}
.landings, .company, .resources{
    display:flex;
    flex-direction: column;
    width:214px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 100px;
}
.landings ul, .company ul, .resources ul{
    list-style-type: none;
    padding-left: 0;
}
.landings li, .company li, .resources li{
    margin-bottom: 20px;
}
#hiring{
    background: #65E4A3;
    border-radius: 120px;
    border: none;
    padding: 1px 14px;
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    color: #0A2640;
    margin-left:10px;
}
@media screen and (min-width: 1000px) and (max-width: 1349px){
    header{
        height: 700px;
    }
    .nav-bar{
        width:90%;
        max-width: 1000px;
    }

    .list-item{
        margin:18px;
    }
    #log-in{
        padding:7px 30px;
        border-radius: 24px;
        line-height: 22px;
    }
    .boldo-logo{
        height:35px;
    }
    .intro{
        width:90%;
        max-width: 1000px;
    }
    .intro-text{
        width:400px;
        max-width: 480px;
        height: 310px;
    }
    .intro-text h1{
        color:white;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 38px;
        line-height: 52px;
    }
    .intro-text p{
        color:gray;
        font-size: 16px;
        line-height: 24px;
        width: 567px;
        height: 56px;
        margin-top: 0;
        width: 85%;
    }
    .intro-img{
        width: 450px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 15px 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #grid-item-1{
        height: 180px;
        max-height:250px
    }
    #buy-template, #explore{
        border-radius: 24px;
        padding:14px 42px;
    }
    #explore{
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin-left: 12px;
    }
    .logos-list{
        width:75%;
        height:35px;
        max-width: 900px;
        margin:0 auto;  
        padding-top:600px;
    }
    .title{
        width: 842px;
        margin: 50px auto 0;
    }
    .featurs-list{
        width:75%;
        max-width: 800px;
        margin:30px auto 0;
    }
    #feature-one, #feature-two, #feature-three{
        width:220px;
    }
    #feature-one img, #feature-two img, #feature-three img{
        height:260px
    }
    .buisness-plans{
        width:80%;
        max-width: 800px;
        margin: 70px auto;
    }
    .stats{
        height: 500px;
    }
    .about{
        width:350px;
    }
    .about h1{
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        margin-top: 0;
    }
    .about ul{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        list-style-type: none;
        padding-left: 0;
    }
    .about img{
        height: 30px;
    }
    .about li{
        margin:10px auto;
    }
    .about span{
        padding-left:15px;
    }
    .start-now{
        margin-top:15px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        border-radius: 56px;
        padding: 14px 36px;
    }
    .two .about{
        margin-left:40px;
    }
    .testimonials{
        height: 620px;
    }
    .heading{
        width: 80%;
        max-width: 900px;
        padding-top:30px;
    }
    .heading h1{
        width: 500px;
        font-weight: 400;
        font-size: 38px;
        line-height: 52px;
    }
    .left-right-btns button{
        width:52px;
        height: 52px;
        border-radius: 50%;
        padding: 0;
    }
    #move-left{
        margin-right: 5px;
    }
    .reviews{
        width: 80%;
        max-width: 850px;
        margin: 50px auto 0;    
    }
    .review{
        width:250px;
    }
    .review h3{
        font-size: 20px;
        line-height: 26px;
        margin:30px auto 30px;
    }
    .user{
        width:80%;
        margin:0 auto 2em;
    }
    .user img{
        height: 38px;
    }
    .name-designation h4{
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        margin:0 auto 0;
    }
    .name-designation{
        margin-left:10px;
    }
    .name-designation p{
        font-size: 13px;
        margin:0 auto;
    }
    .faqs{
        width:90%;
        max-width: 1140px;
        margin:70px auto 50px;
    }
    #company{
        height:40vh;
    }
    .faqs h2{
        width:320px;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
    }
    .button-one, .button-two{
        width: 380px;
        font-size: 18px;
        line-height: 24px;
    }
    #faqs-btn{
        margin-top: 20px;
        margin-left:100px;
    }
    .blog{
        width:80%;
        max-width:1000px;
    }
    .blog h1{
        width:80%;
        max-width: 750px;
        font-size: 38px;
        line-height: 42px;
    }
    .blog h3{
        font-size: 20px;
        line-height: 28px;
    }
    .category-list{
        max-width: 850px;
        margin:50px auto;
    }
    .category-list-item{
        width:250px;
        text-align: start;   
    }
    .cat-person{
        height:175px;
    }
    .category-list-item-data h3{
        margin-top:20px;
        height:85px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    #load-more{
        border: 1px solid #0A2640;
        border-radius: 56px;
        padding: 12px 34px;
        font-size: 18px;
        line-height: 24px;
        margin-top:20px;
    }
    footer{
        width: 90%;
        max-width: 900px;
        margin: 70px auto 0;
    }
    .send-email{
        height:300px;
    }
    .send-email h1{
        width: 400px;
        padding-top: 50px;
        font-size: 32px;
        line-height: 42px;
    }
    #elipse-two{
        top:-180px;
        height:400px; 
    }
    .e-mail{
        padding-top:185px;
    }
    .send-email input{
        font-size: 16px;
        line-height: 24px;
        padding: 6px 32px;
    }
    .start{
        font-size: 18px;
        line-height: 24px;
        padding: 8px 32px;
    }
    .footer{
        margin-top:70px;
    }
    .outro{
        font-size: 14px;
        line-height: 20px;
        width:300px;
    }
    .landings, .company, .resources{
        width:214px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin-left: 50px;
    }
    .landings h2, .company h2, .resources h2{
        margin-top: 0;
    }
    .outro p{
        margin-top:45px;
    }
    .landings li, .company li, .resources li{
        margin-bottom: 15px;
    }
}