body{
    margin:0;
    padding:0;
}
header{
    background-image: url("/assets/homepage/Rectangle\ 1268.png");
    height: 798px;
}
#elipse{
    top:0;
    right:0;
    position: absolute;
    z-index: 0;
}
.nav-bar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    left: 50%;
    transform: translate(-50%);
    overflow:visible;
    z-index: 1;
}
.nav-bar ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
}
.list-item{
    margin:20px;
    font-size: 16px;
}
#log-in{
    background-color: white;
    border: none;
    padding:4px 20px;
    border-radius: 24px;
    line-height: 24px;
}
.boldo-logo{
    height:45px;
}
.intro{
    position: absolute;
    padding-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    left: 50%;
    transform: translate(-50%);
}
.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 0px;
    width: 567px;
    height: 310px;
}
.intro-text h1{
    color:white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 48px;
    line-height: 72px;
}
.intro-text p{
    color:gray;
    font-size: 16px;
    line-height: 28px;
    width: 567px;
    height: 56px;
}
.intro-img{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 15px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#grid-item-2{
    grid-column-start: 1;
    grid-column-end: 3;
}
.logos-list{
    width:70%;
    margin:0 auto;  
    padding-top:40em;
    display: flex;
    justify-content: space-around;
}